<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <h3 class="sidebar-title">{{ usuario?.nome }}</h3>
      <div class="sidebar-options">
        <a class="option-link" routerLink="perfil">Meu Perfil</a>
        <a class="option-link" routerLink="/anunciar-vaga">Anunciar Vaga</a>
        <a class="option-link" routerLink="post-show">Anunciar Show</a>
        <a class="option-link" (click)="logout()">Sair</a>
      </div>
    </div>
    <div class="col-md content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
